# Question 1: Given a string of odd length greater 7, return a string made of the middle three chars of a given String.
# getMiddleThreeChars("JhonDipPeta") → "Dip"

In [43]:
Input_1 = ("JhonDipPeta")
Mid_Char = len(Input_1)//2
getMiddleThreeChars = Input_1[Mid_Char - 1:Mid_Char + 2]
getMiddleThreeChars

'Dip'

# getMiddleThreeChars("Jasonay") → "son"

In [53]:
Input_2 = ("Jasonay")
Midl_Char = len(A)//2
Midl_Char
getMiddleThreeCharcs = Input_2[Midl_Char - 3:Mid_Char]
getMiddleThreeCharcs

'son'

# Question 2: Given 2 strings, s1 and s2, create a new string by appending s2 in the middle of s1.
# appendMiddle("Chrisdem", IamNewString) → "ChrIamNewStringisdem"

In [57]:
S1 = "Chrisdem"
S2 = "IamNewString"
Midl_Char = len(S1)//2
S3 = S1[:Midl_Char-1]+S2+S1[Midl_Char-1:]
S3

'ChrIamNewStringisdem'

# Question 3:Given 2 strings, s1, and s2 return a new string made of the first, middle and last char each input string.
# mixString("America", "Japan") = ""AJrpan"

In [68]:
s1 = 'America'
s2 = 'Japan'
def combString(s1,s2):
    return s3
    s3 = s1[0] + s2[0] + s1[len(s1)//2] + s2[len(s2)//2] + s1[-1] + s2[-1]
print(s3)

AJrpan

# Question 4:arrange String characters such that lowercase letters should come first.
# input_String = PyNaTive

In [80]:
input_String = 'PyNaTive'
lowercase = ''.join(sorted([char for char in input_String if char.islower()]))
uppercase = ''.join(sorted([char for char in input_String if char.isupper()]))

print(lowercase)
print(uppercase)

aeivy
NPT

# Question 5:Given a string input Count all lower case, upper case, digits, and special symbols.
# input_str = "P@#yn26at^&i5ve"

In [95]:
input_str = "P@#yn26at^&i5ve"
def countCharacters(input_str):
   chars = 0
   digits = 0
   symbols = 0

   for char in input_str:
       if char.islower():
           chars += 1
       elif char.isupper():
           chars += 1
       elif char.isdigit():
           digits += 1
       else:
           symbols += 1

   return "Chars = {}, Digits = {}, Symbol = {}".format(chars, digits, symbols)

# Question 6: Given two strings, s1 and s2, create a mixed String.

In [96]:
def mixString(s1, s2):
   result = ''
   i = 0
   j = len(s2) - 1

   while i < len(s1) and j >= 0:
       result += s1[i] + s2[j]
       i += 1
       j -= 1

   result += s1[i:] + s2[j::-1]

# Question 7:String characters balance Test. 
# We’ll say that a String s1 and s2 is balanced if all the chars in the string1 are there in s2. characters position doesn’t matter.

In [97]:
def stringBalanceCheck(s1, s2):
   for char in s1:
       if char not in s2:
           return False
   return True

# Question 8:Find all occurrences of “USA” in given string ignoring the case.

In [98]:
def count_USA_occurrences(input_str):
   lower_input = input_str.lower()
   count = lower_input.count("usa")
   return count

# Question 9:Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters.

In [99]:
def sumAndAverage(input_str):
   digits = [int(char) for char in input_str if char.isdigit()]
   total_sum = sum(digits)
   average = total_sum / len(digits)
   return total_sum, average

# Question 10:Given an input string, count occurrences of all characters within a string.

In [100]:
def countOccurrences(input_str):
   char_count = {}
   for char in input_str:
       char_count[char] = char_count.get(char, 0) + 1
   return char_count

# Question 11:Given 2D array calculate the sum of diagonal elements.

In [101]:
def sumDiagonalElements(arr):
   diagonal_sum = 0
   for i in range(len(arr)):
       diagonal_sum += arr[i][i]
   return diagonal_sum

# Question 12:
# From given list gadgets = [“Mobile”, “Laptop”, 100, “Camera”, 310.28, “Speakers”, 27.00, “Television”, 1000, “Laptop Case”, “Camera Lens”] 
# a) create separate lists of strings and numbers. 
# b) Sort the strings list in ascending order.
# c) Sort the strings list in descending order.
# d) Sort the number list from lowest to highest. 
# e) Sort the number list from highest to lowest.

In [103]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"]
string_list = [item for item in gadgets if isinstance(item, str)]
number_list = [item for item in gadgets if isinstance(item, (int, float))]
ascending_strings = sorted(string_list)
descending_strings = sorted(string_list, reverse=True)
ascending_numbers = sorted(number_list)
descending_numbers = sorted(number_list, reverse=True)
print("Strings list:", string_list)
print("Numbers list:", number_list)
print("Sorted strings list in ascending order:", ascending_strings)
print("Sorted strings list in descending order:", descending_strings)
print("Sorted numbers list from lowest to highest:", ascending_numbers)
print("Sorted numbers list from highest to lowest:", descending_numbers)

Strings list: ['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
Numbers list: [100, 310.28, 27.0, 1000]
Sorted strings list in ascending order: ['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
Sorted strings list in descending order: ['Television', 'Speakers', 'Mobile', 'Laptop Case', 'Laptop', 'Camera Lens', 'Camera']
Sorted numbers list from lowest to highest: [27.0, 100, 310.28, 1000]
Sorted numbers list from highest to lowest: [1000, 310.28, 100, 27.0]

# Question 13:Get first, second best scores from the list. List may contain duplicates.

In [105]:
def getFirstSecondBestScores(scores):
   unique_scores = list(set(scores))
   unique_scores.sort(reverse=True)
   return unique_scores[:2]

# Question 14:print the number in words (Tuples).

In [122]:
def printWord(N):
    digits = {'1':'One','2':'Two','3':'Three','4':'Four'}
    for number in N:
        print(digits[number] , end = ' ')
       
# Driver code
N = "1234"
printWord(N)

One Two Three Four

# Question 15:Given a Python list you should be able to display Python list in the following order 
# aLsit = [100, 200, 300, 400, 500]

In [110]:
aList = [100, 200, 300, 400, 500]
reversed_list = aList[::-1]
print(reversed_list)

[500, 400, 300, 200, 100]

# Question 16:Concatenate two lists index-wise 
# list1 = ["M", "na", "i", "Ke"] 
# list2 = ["y", "me", "s", "lly"]

In [111]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

concatenated_list = [x + y for x, y in zip(list1, list2)]
print(concatenated_list)

['My', 'name', 'is', 'Kelly']

# Question 17:Concatenate two lists in the following order. 
# list1 = ["Hello ", "take "]
# list2 = ["Dear", "Sir"]

In [112]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

concatenated_list = [x + y for x in list1 for y in list2]
print(concatenated_list)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

# Question 18:Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. 
# list1 = [10, 20, 30, 40] 
# list2 = [100, 200, 300, 400].

In [113]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for item1, item2 in zip(list1, reversed(list2)):
   print(item1, item2, end=' ')

10 400 20 300 30 200 40 100

# Question 19:Remove empty strings from the list of strings. 
# list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"].

In [114]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
filtered_list = [item for item in list1 if item != ""]
print(filtered_list)

['Mike', 'Emma', 'Kelly', 'Brad']

# Question 20:Add item 7000 after 6000 in the following Python List 
# list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40].

In [115]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Question 21:Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list 
# Given List: list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"] 
# Sub List to be added = ["h", "i", "j"]

In [116]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Question 22: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value 
# list1 = [5, 10, 15, 20, 25, 50, 20].

In [117]:
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)

list1[index] = 200

print(list1)

[5, 10, 15, 200, 25, 50, 20]

# Question 23: Given a Python list, remove all occurrence of 20 from the list 
# list1 = [5, 20, 15, 20, 25, 50, 20].

In [118]:
list1 = [5, 20, 15, 20, 25, 50, 20]

filtered_list = [item for item in list1 if item != 20]

print(filtered_list)

[5, 15, 25, 50]

# Question 24:Sort a tuple of tuples by 2nd item. 
# tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29)).

In [119]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))

sorted_tuple = tuple(sorted(tuple1, key=lambda x: x[1]))

print(sorted_tuple)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

# Question 25:Counts the number of occurrences of item 50 from a tuple. 
# tuple1 = (50, 10, 60, 70, 50).

In [120]:
tuple1 = (50, 10, 60, 70, 50)

count_50 = tuple1.count(50)

print(count_50)

2

In [ ]:
# Question 26:Check if all items in the following tuple are the same. 
# tuple1 = (45, 45, 45, 45)

In [94]:
tuple1 = (45, 45, 45, 45)

are_same = all(item == tuple1[0] for item in tuple1)

print(are_same)

True