In [ ]:
# Python Task on 10th Apr 2024

# 1.Print the number of apples:
# oInput: shopping_list = ["apples", "bananas", 3, "milk", 2, "eggs"]
# oOutput: Number of apples: 3 (assuming 3 apples)

In [42]:
shopping_list = ["apples", "bananas", 3, "milk", 2, "eggs"]
print("Number of apples =",shopping_list[-4])

Number of apples = 3

# 2.Extract the dairy items (milk and eggs):
# oInput: Same as question 1
# oOutput: Dairy items: ['milk', 2, 'eggs'] (including quantity)

In [26]:
shopping_list = ["apples", "bananas", 3, "milk", 2, "eggs"]
print ("Dairy items:", shopping_list[3:])

Dairy items: ['milk', 2, 'eggs']

# 3.Create a new list with just the fruit names:# 
oInput: Same as question 1# 
oOutput: Fruits: ['apples', 'bananas]

In [27]:
shopping_list = ["apples", "bananas", 3, "milk", 2, "eggs"]
print("Fruits:",shopping_list[0:2] )

Fruits: ['apples', 'bananas']

# 4.Find the highest temperature:
# oInput: temperatures = [25, 28, 32, 30, 27, 23, 21]
# oOutput: Highest temperature: 32 (may vary based on data)

In [28]:
temperatures = [25, 28, 32, 30, 27, 23, 21]
print("Highest temperature:", max(temperatures))

Highest temperature: 32

# 5.Print the days (indices) with temperatures above 30 degrees:
# oInput: Same as question 1
# oOutput: (This will vary depending on your input data)
# oDay 3 (index 2): 32 degrees
# oDay 4 (index 3): 30 degrees

In [29]:
temperatures = [25, 28, 32, 30, 27, 23, 21]
print("Day",temperatures.index(32),":",temperatures[2])
print("Day",temperatures.index(30),":", temperatures[3])

Day 2 : 32
Day 3 : 30

# 6.Create a new list with the last three days' temperatures:
# oInput: Same as question 1
# oOutput: Last three days' temperatures: [27, 23, 21]

In [30]:
temperatures = [25, 28, 32, 30, 27, 23, 21]
print("Last three days' temperatures:", temperatures[-3:])

Last three days' temperatures: [27, 23, 21]

# 7.Print the average rating:
# oInput: movies = ("Casablanca", 9.7, "The Godfather", 9.2, "The Shawshank Redemption", 9.3)
# oOutput: Average rating: 9.4 (may vary slightly)

In [31]:
movies = ("Casablanca", 9.7, "The Godfather", 9.2, "The Shawshank Redemption", 9.3)
def Average(Values):
    return sum(Values)/len(Values)
Values =(movies[1], movies[3], movies[5])
print(Values)
print("Average rating:", Average(Values))

(9.7, 9.2, 9.3)
Average rating: 9.4

# 8.Extract the movie with the highest rating:# 
oInput: Same as question 1# 
oOutput: Highest rated movie: The Shawshank Redemption (may vary based on input dat)

In [32]:
movies = ("Casablanca", 9.7, "The Godfather", 9.2, "The Shawshank Redemption", 9.3)
Values =(movies[1], movies[3], movies[5])
HighestRating = max(Values)
HighestRating_Index = movies.index(HighestRating)
Highestratedmovie = movies[HighestRating_Index - 1]
print(Highestratedmovie)

Casablanca

# 9.Create a new tuple with only the movie titles:
# oInput: Same as question 1
# oOutput: Movie titles: ('Casablanca', 'The Godfather', 'The Shawshank Redemption')

In [33]:
movies = ("Casablanca", 9.7, "The Godfather", 9.2, "The Shawshank Redemption", 9.3)
Movietitles =(movies[0], movies[2], movies[4])
print(type(Movietitles))

<class 'tuple'>

# You're planning a party and need to create guest lists for different tables.]# 
Questions# :0
1.Create a list for each table with 2 guests (replicate the original lis
# Input: guest_list = ["Alice", "Bob", "Charlie", "David", "Eve"]t# :
oOutput: (This will vary depending on the number of gues# s)
oTable 1: ['Alice', 'B# b']
oTable 2: ['Charlie', 'Da# id']
oTable 3: ['Eve']  (If there are leftover uests)

In [34]:
guest_list = ["Alice", "Bob", "Charlie", "David", "Eve",]
Table1 =  guest_list[: len(guest_list)//2]
Table2 =  guest_list[len(guest_list)//2:len(guest_list) -1]
Table3 =  guest_list[len(guest_list)-1:]
print (Table1)
print (Table2)
print (Table3)

['Alice', 'Bob']
['Charlie', 'David']
['Eve']

# 11.Create a single list with all guests invited twice (repeat the list):# oOutput: Combined guest list: ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve'

In [47]:
guest_list = ["Alice", "Bob", "Charlie", "David", "Eve",]
Combined_guest_list = guest_list + guest_list
print(Combined_guest_list)

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve']

# 12. Input: text = "This is a sample text for analysis."
# 1.Extract the first three words:
# Output: First three words: This is a

In [36]:
text = "This is a sample text for analysis."
result = text.index('sample')
Extract_First_three_words = text[:result]
First_three_words = Extract_First_three_words.strip()
print(First_three_words)

This is a

# 2.Extract the substring from "sample" to "analysis" (inclusive):
# Output: Extracted substring: sample text for analysis

In [37]:
text = "This is a sample text for analysis."
result = text.index('sample')
Extracted_substring = text[result:]
print(Extracted_substring)

sample text for analysis.

# 1.Create a list containing items you need.
# shopping_list = ["Milk", "Bread", "Eggs", "Apples", "Bananas"]# 
2.Print the entire list
# shopping_list = ["Milk", "Bread", "Eggs", "Apples", "Bananas"].# 
3.Remove an item you no longer nee
# item_to_remove = "Eggs"
# Eggs removed from the list.
# d.
4.Check if a specific item is on the la# Eggs"
item_to_check = "C# Cheese is not on the shopping list.
heese"

In [38]:
# 1.Create a list containing items you need.
shopping_list = ["Milk", "Bread", "Eggs", "Apples", "Bananas"]
# 2.Print the entire list.
print(shopping_list)
# 3.Remove an item you no longer need.
item_to_remove = "Eggs"
while (item_to_remove in shopping_list):
    shopping_list.remove(item_to_remove)
print(shopping_list)

['Milk', 'Bread', 'Eggs', 'Apples', 'Bananas']
['Milk', 'Bread', 'Apples', 'Bananas']

In [46]:
shopping_list = ["Milk", "Bread", "Eggs", "Apples", "Bananas"]
item_to_check = "Cheese"

if item_to_check in shopping_list:
   print(item_to_check + " available in shopping list.")
else:
   print(item_to_check + " is not on the shopping list.")

Cheese is not on the shopping list.